#####################################################################
# Brew                                                              #
#####################################################################

{{ if eq .chezmoi.arch "arm64" }}
if test "$HOMEBREW_PREFIX" != "/opt/homebrew"
  eval "$(/opt/homebrew/bin/brew shellenv)"
end
{{ end }}

#####################################################################
# Plugins                                                           #
#####################################################################

if not functions --query fisher
    set --query XDG_CONFIG_HOME; or set XDG_CONFIG_HOME "$HOME/.config"
    curl https://git.io/fisher --create-dirs -sLo $XDG_CONFIG_HOME/fish/functions/fisher.fish
    fish -c fisher
end

#####################################################################
# Path                                                              #
#####################################################################

fish_add_path --global "$HOME/.bin"
fish_add_path --global "$GOCODEDIR/bin" $fish_user_paths
fish_add_path --global (brew --prefix)"/opt/curl/bin" $fish_user_paths
fish_add_path --global (brew --prefix)"/opt/mysql-client/bin" $fish_user_paths
fish_add_path --global (brew --prefix)"/texlive/2019/bin/x86_64-darwin/" $fish_user_paths
fish_add_path --global "$HOME/.cargo/bin" $fish_user_paths
fish_add_path --global "$HOME/.config/nvim/bin" $fish_user_paths

if test -d "/usr/local/sbin"
    fish_add_path --global "/usr/local/sbin" $fish_user_paths
end

if test -d "/opt/homebrew"
    fish_add_path --append --global "/opt/homebrew/sbin" $fish_user_paths
    fish_add_path --append --global "/opt/homebrew/bin" $fish_user_paths
end

fish_add_path --global $HOME/.krew/bin

#####################################################################
# Globals                                                           #
#####################################################################

# System Defaults
set --global --export LC_ALL "de_DE.UTF-8"
set --global --export LANG "$LC_ALL"
set --global --export TZ "Europe/Berlin"

# XDG
set --global --export XDG_CONFIG_HOME "$HOME/.config"
set --global --export XDG_CACHE_HOME "$HOME/Library/Caches/"
set --global --export XDG_DATA_HOME "$HOME/.local/share"
set --global --export XDG_RUNTIME_DIR "$HOME/Library/Caches/run"

# ghcup-env
set -q GHCUP_INSTALL_BASE_PREFIX[1]; or set GHCUP_INSTALL_BASE_PREFIX $HOME
test -f /Users/billie/.ghcup/env ; and set -gx PATH $HOME/.cabal/bin /Users/billie/.ghcup/bin $PATH



# The next line updates PATH for Netlify's Git Credential Helper.
test -f '/Users/billie/Library/Preferences/netlify/helper/path.fish.inc' && source '/Users/billie/Library/Preferences/netlify/helper/path.fish.inc'
