[rebase]
	autoStash = true
	autoSquash = true
[commit]
	verbose = true
	gpgsign = true
	template = /Users/billie/.gitmessage
[user]
	name = Billie Thompson
	email = billie@billiecodes.com
	signingkey = 3E11CEE536F2F35ADFA89EB81AE6157163816A8F
[core]
	editor = "vim"
	excludesfile = /Users/billie/.gitignore
[branch]
	autosetupmerge = true
	sort=-committerdate # Sort branches by last commit date, descending.
[rerere]
	enabled = true
[branch "master"]
	rebase = true
