[rebase]
	autoStash = true
	autoSquash = true
[commit]
	verbose = true
	gpgsign = true
	template = ~/.gitmessage
[user]
	name = Billie Thompson
	email = billie@billiecodes.com
	signingkey = CE99CAA5E2B0A8C2CE784EE9C1B4BA2DD53ACE1B
[core]
	editor = "vim"
	excludesfile = ~/.gitignore
[branch]
	autosetupmerge = true
	sort=-committerdate # Sort branches by last commit date, descending.
[rerere]
	enabled = true
[branch "master"]
	rebase = true
