#!/bin/sh

{{ if eq .chezmoi.arch "arm64" }}
if [[ "$HOMEBREW_PREFIX" != "/opt/homebrew" ]] ; then
  eval $(/bin/brew shellenv)
fi
{{ end }}

STAT_BIN="stat"
if command -v gstat > /dev/null ; then
  STAT_BIN="gstat"
fi

FILE="$HOME/.config/envsecret/envsecret.sourceable.fish"
if [ -f "$FILE" ]; then
    if [ "$($STAT_BIN -c %a "$FILE")" != "711" ] ; then
        chmod +x "$FILE"
    fi
fi
