#!/bin/sh

# Brewfile hash: {{ include "dot_Brewfile" | sha256sum }}

if ! command -v brew > /dev/null ; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi


brew bundle --global
brew bundle cleanup --global
