export "{{- (onepasswordDetailsFields "cycu3soa3bezlkl6mtnqiolcw4" "ka56xtpxlnz5jttbgahcs7en4e").username.value }}"="{{- (onepasswordDetailsFields "cycu3soa3bezlkl6mtnqiolcw4" "ka56xtpxlnz5jttbgahcs7en4e").password.value }}"
export "{{- (onepasswordDetailsFields "j3b6c6bf6jaotghtxbqbynt44a" "ka56xtpxlnz5jttbgahcs7en4e").username.value }}"="{{- (onepasswordDetailsFields "j3b6c6bf6jaotghtxbqbynt44a" "ka56xtpxlnz5jttbgahcs7en4e").password.value }}"
export "{{- (onepasswordDetailsFields "k5jxj2ixznfnhbttrhhp5ruaga" "ka56xtpxlnz5jttbgahcs7en4e").username.value }}"="{{- (onepasswordDetailsFields "k5jxj2ixznfnhbttrhhp5ruaga" "ka56xtpxlnz5jttbgahcs7en4e").password.value }}"
export "{{- (onepasswordDetailsFields "rj7ebgzmbbebzkl3uey74smsbe" "ka56xtpxlnz5jttbgahcs7en4e").username.value }}"="{{- (onepasswordDetailsFields "rj7ebgzmbbebzkl3uey74smsbe" "ka56xtpxlnz5jttbgahcs7en4e").password.value }}"
